/* ===== Buttons ===== */

.btn_wrap {
	margin-top: 50px;
	text-align: center;
	font-size: 0;
	a {
		display: inline-block;
		line-height: 2em;
		margin: 0 0.5em;
		padding: 0 1em;
		border: 1px solid #e1e1e1;
		color: $color_sub;
		font-size: 14px;
		font-weight: 700;
		transition: all 0.3s;
		&:focus,
		&:hover {
			color: $color_bg;
			background: $color_sub;
		}
		@include themify("dark") {
			border: 1px solid #666;
			color: map-deep-get($themes, "dark", "color_sub");
			&:focus,
			&:hover {
				background: map-deep-get($themes, "dark", "color_sub");
				color: map-deep-get($themes, "dark", "color_bg");
			}
		}
	}
	@include screen("tablet") {
		margin-top: 30px;
		a {
			font-size: 12px;
		}
	}
	@include screen("mobile") {
		margin-top: 15px;
	}
}
