a {
	display: inline;
	transform: all 0.5s;
	b {
		z-index: 1;
		overflow: hidden;
		display: none;
	}
	&.c {
		z-index: 1;
		overflow: hidden;
		display: none;
		.d {
			display:table;
		}
	}
	.d {
		display: none;
	}
}
/* 주석 */
.c {
	visibility: hidden;
	display: none;
	background: none;
}
/* 주석1 */
@media screen and (max-width: 992px) {
	body {
		background-color: blue;
	}
	a {
		display: inline;
		transform: all 0.5s;

		b {
			display: none;
		}
	}
	.c {
		display: none;
		background: none;
	}
}
