/* ===== Contents ===== */

$projects: (
    cite,
    olympiad,
    handok,
    donga,
    lamp,
    kia,
    sos,
    player,
    threecall,
    mekics,
    ag,
    welstory,
    jb,
    star4ever,
    joytour,
    axn,
    lemei
);

.work {
    overflow: hidden;
    margin: 50px -15px;
    li {
        float: left;
        position: relative;
        width: 25%;
        padding: 15px;
        text-align: center;
        a {
            display: block;
            position: relative;
            height: 0;
            padding-top: 56.25%;
            border: 1px solid #ccc;
            background-size: cover;
            background-position: center;
            transition:all 0.3s;
            filter: grayscale(0.75);
            &:hover {
                filter: grayscale(0);
            }
        }
        .cover {
            display: table;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .tit {
                display: table-cell;
                vertical-align: middle;
            }
        }
        &:nth-child(even) {
            top: 30px;
        }
        @include screen("tablet") {
            width: 50%;
        }
        @include screen("mobile") {
            width: 100%;
            top: 0 !important;
            animation-name: fadeInUp !important;
        }
        @each $project in $projects {
            &.#{$project} {
                a {
                    background-image: url(../img/thumb/thumb_#{$project}.gif);
                }
            }
        }
    }
}
