/* ===== Contents ===== */

$projects: (
	arisys,
	cite,
	olympiad,
	handok,
	donga,
	lamp,
	kia,
	sos,
	player,
	threecall,
	mekics,
	ag,
	welstory,
	jb,
	star4ever,
	joytour,
	axn,
	lemei
);

.work {
	overflow: hidden;
	margin: 0 -15px;
	padding: 30px 0;
	@include screen("tablet") {
		padding: 0;
		padding-bottom: 50px;
	}
	@include screen("mobile") {
		padding-bottom: 30px;
	}
	li {
		float: left;
		position: relative;
		width: 25%;
		padding: 15px;
		text-align: center;
		@include screen("tablet") {
			margin-top: 15px;
		}
		a {
			display: block;
			position: relative;
			height: 0;
			padding-top: 56.25%;
			border: 1px solid #ccc;
			background-size: cover;
			background-position: center;
			transition: all 0.3s;
			&:focus,
			&:hover {
				filter: brightness(100%);
				.cover {
					background: rgba(0, 0, 0, 0.75);
					@include screen("tablet") {
						background: none;
					}
					.tit {
						opacity: 1;
						transform: translateY(-50%) scale(1);
					}
				}
			}
			@include themify("dark") {
				filter: brightness(75%);
			}
		}
		.cover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.3s;
			@include screen("tablet") {
				position: static;
			}
			.tit {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				font-size: 16px;
				font-weight: 700;
				color: #fff;
				text-align: center;
				opacity: 0;
				transition: all 0.3s;
				transform: translateY(-50%) scale(1.2);
				@include screen("tablet") {
					display: block;
					position: static;
					margin-top: 5px;
					font-size: 12px;
					color: $color_default;
					opacity: 1;
					transform: scale(1) !important;
				}
				@include themify("dark") {
					color: map-deep-get($themes, "dark", "color_default");
				}
			}
		}
		&:nth-child(even) {
			top: 30px;
		}
		@include screen("tablet") {
			width: 50%;
		}
		@include screen("mobile") {
			width: 100%;
			top: 0 !important;
			animation-name: fadeInUp !important;
		}
		@each $project in $projects {
			&.#{$project} {
				a {
					background-image: url(../img/thumb/thumb_#{$project}.gif);
				}
			}
		}
	}
	@include screen("tablet") {
	}
}
