/* ===== Grid ===== */

$gutter: 30px;
$column: 1280px;

.container {
	position: relative;
	max-width: $column + $gutter * 2;
	margin: 0 auto;
	padding: 0 $gutter;
	@include screen("mobile") {
		$gutter: 15px;
		padding: 0 $gutter;
	}
}
